nav#navbar {
    text-align: center;
    background-color: lightcyan;
    border: hidden;
    border-radius: 10px;
    width: 50%;
    padding: 2%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}

nav#navbar:hover{
    background-color: lightblue;
    nav > section{
        visibility: visible;
    }
}



