*{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color:#b8b8b8;
}

h1{
    text-shadow: 4px 3px 0 #7A7A7A;
}

h2{
    background: #b8b8b8;
    text-shadow: 2px 5px 4px #A6A6A6;
}


header > h1{
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}

header ,footer{
    text-align: center;
}

main {
    columns: 3;
}

article {
    border: solid black 2px;
    border-radius: 10px;
    margin: 2px;
    padding: 2%;
}

img {
    border-radius: 10px;
    width: 100%;
}