[submodule "TAREAS/fundamentos-de-programacion-pp-varita-magica"]
	url = https://github.com/javirs200/fundamentos-de-programacion-pp-varita-magica.git
[submodule "TAREAS/fundamentos-de-programacion-kata-bichomon"]
	url = https://github.com/javirs200/fundamentos-de-programacion-kata-bichomon.git
[submodule "TAREAS/fundamentos-de-programacion-bikram-array-funciones"]
	url = https://github.com/javirs200/fundamentos-de-programacion-bikram-array-funciones.git
[submodule "TAREAS/fundamentos-de-programacion-bikram-objetos"]
	url = https://github.com/javirs200/fundamentos-de-programacion-bikram-objetos.git
[submodule "TAREAS/fundamentos-de-programacion-bikram-var-bucles-condicionales"]
	url = https://github.com/javirs200/fundamentos-de-programacion-bikram-var-bucles-condicionales.git
[submodule "TAREAS/fundamentos-de-programacion-kata-chauchat"]
	url = https://github.com/javirs200/fundamentos-de-programacion-kata-chauchat.git
[submodule "TAREAS/fundamentos-de-programacion-kata-fizzbuzz"]
	url = https://github.com/javirs200/fundamentos-de-programacion-kata-fizzbuzz.git
[submodule "TAREAS/MiniLibJS"]
	url = https://github.com/javirs200/MiniLibJS.git
[submodule "TAREAS/advanced-js-bikram-destructuring-spread-rest"]
	url = https://github.com/javirs200/advanced-js-bikram-destructuring-spread-rest.git
[submodule "TAREAS/advanced-js-bikram-map-filter-reduce"]
	url = https://github.com/javirs200/advanced-js-bikram-map-filter-reduce.git
[submodule "TAREAS/proyectos-quiz"]
	url = https://github.com/javirs200/proyectos-quiz.git
[submodule "TAREAS/EjerciciosDom"]
	url = https://github.com/javirs200/EjerciciosDom.git
[submodule "TAREAS/PERSONAL"]
	url = https://github.com/javirs200/PERSONAL.git
[submodule "TAREAS/prueba_gitHub"]
	url = https://github.com/javirs200/prueba_gitHub.git
[submodule "TAREAS/restcountries-api"]
	url = https://github.com/javirs200/restcountries-api.git
