[submodule "TAREAS/fundamentos-de-programacion-pp-varita-magica"]
	url = https://github.com/javirs200/fundamentos-de-programacion-pp-varita-magica.git
[submodule "TAREAS/fundamentos-de-programacion-kata-bichomon"]
	url = https://github.com/javirs200/fundamentos-de-programacion-kata-bichomon.git
[submodule "TAREAS/fundamentos-de-programacion-bikram-array-funciones"]
	url = https://github.com/javirs200/fundamentos-de-programacion-bikram-array-funciones.git
[submodule "TAREAS/fundamentos-de-programacion-bikram-objetos"]
	url = https://github.com/javirs200/fundamentos-de-programacion-bikram-objetos.git
[submodule "TAREAS/fundamentos-de-programacion-bikram-var-bucles-condicionales"]
	url = https://github.com/javirs200/fundamentos-de-programacion-bikram-var-bucles-condicionales.git
[submodule "TAREAS/fundamentos-de-programacion-kata-chauchat"]
	url = https://github.com/javirs200/fundamentos-de-programacion-kata-chauchat.git
[submodule "TAREAS/fundamentos-de-programacion-kata-fizzbuzz"]
	url = https://github.com/javirs200/fundamentos-de-programacion-kata-fizzbuzz.git
[submodule "TAREAS/MiniLibJS"]
	url = https://github.com/javirs200/MiniLibJS.git
[submodule "TAREAS/advanced-js-bikram-destructuring-spread-rest"]
	url = https://github.com/javirs200/advanced-js-bikram-destructuring-spread-rest.git
[submodule "TAREAS/advanced-js-bikram-map-filter-reduce"]
	url = https://github.com/javirs200/advanced-js-bikram-map-filter-reduce.git
[submodule "TAREAS/proyectos-quiz"]
	url = https://github.com/javirs200/proyectos-quiz.git
[submodule "TAREAS/EjerciciosDom"]
	url = https://github.com/javirs200/EjerciciosDom.git
[submodule "TAREAS/PERSONAL"]
	url = https://github.com/javirs200/PERSONAL.git
[submodule "TAREAS/prueba_gitHub"]
	url = https://github.com/javirs200/prueba_gitHub.git
[submodule "TAREAS/restcountries-api"]
	url = https://github.com/javirs200/restcountries-api.git
[submodule "TAREAS/Advanced-JS-Asynchronous-code"]
	url = https://github.com/javirs200/Advanced-JS-Asynchronous-code.git
[submodule "TAREAS/advanced-js-bikram-async-await"]
	url = https://github.com/javirs200/advanced-js-bikram-async-await.git
[submodule "TAREAS/ejercicioLocalStorage"]
	url = https://github.com/javirs200/ejercicioLocalStorage.git
[submodule "TAREAS/jsFrontedApp"]
	url = https://github.com/javirs200/jsFrontedApp.git
[submodule "TAREAS/ejercicioFirebase"]
	url = https://github.com/javirs200/ejercicioFirebase.git
[submodule "./TAREAS/QuiZ_vol.2"]
	url = https://github.com/javirs200/QuiZ_vol.2.git
[submodule "TAREAS/SWCharts"]
	url = https://github.com/javirs200/SWCharts.git
[submodule "TAREAS/ejercicioMapas"]
	url = https://github.com/javirs200/ejercicioMapas.git
[submodule "TAREAS/QuiZ_vol.2"]
	url = https://github.com/javirs200/QuiZ_vol.2.git
[submodule "TAREAS/express-books-exercise"]
	url = https://github.com/javirs200/express-books-exercise.git
[submodule "TAREAS/ejercicio_API_REST_films_con_test"]
	url = https://github.com/javirs200/ejercicio_API_REST_films_con_test.git
[submodule "TAREAS/weather-app"]
	path = TAREAS/weather-app
	url = https://github.com/javirs200/weather-app.git
