table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1%;
    font-family: 'Segoe UI';
}

th,
td {
    width: 25%;
}

body{
    padding-left: 20%;
    padding-top: 10%;
}

table {
    width: 75%;
}

th {
    text-align: left;
    background-color: lightgray;
    font-weight: bolder;
}

a {
    color: black;
    text-decoration: none
}

th.navbar {
    text-align: center;
    background-color: lightcyan;
    border: hidden;
    border-radius: 10px;
}

th.navbar:hover {
    text-align: center;
    background-color: lightblue;
}