doctype html
html
   head
      title = "Hello FullStack"
      link(rel="stylesheet", href="style.css")
   body
      p.greetings#people Hello World!
      p This is my first Node Express+Pug project 
