
body{
    padding-left : 10%;
    padding-right: 10%;
}

address {
    /*pone que no allinee texto a la derecha 
    pero no se como desplazar el texto de addres*/
    text-align: right;
}

footer {
    padding-bottom: 5%;
}

p#greeting{
    padding-bottom: 10%;
}